<h1 class="my-4">Find the best movie's list</h1>



<div class="cards">
  <% @lists.each do |list| %>
  <div class="card-category" >

   <p> <%= link_to list.name, list_path(list) %> </p>
  </div>
  <% end %>
</div>

<br>
<p class="btn btn-ghost"> <%= link_to "add list",  new_list_path%></p>
