 <%= render "shared/banner" %>

<h1>Find the best movie's list</h1>



<div class="cards">
  <% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
   <p> <%= link_to list.name, list_path(list) %> </p>
  </div>
  <% end %>
</div>


<br>
<p class="btn btn-ghost"> <%= link_to "add list",  new_list_path%></p>
