<div class="banner" style="background-image: url(https://asicsulb.org/corporate/images/connect/beachfront/2019-01/movies-on-the-house.jpg);">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
</div>
